*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
**/*.crt
**/*.key
**/*.pem
**/*.crt
**/*.key
.DS_Store
**/*.DS_Store
*/.DS_Store
.idea
.project
.strong-pm
*.history
*.vscode
.vscode
**/.vscode
coverage
node_modules
npm-debug.log
**/node_modules
*/node_modules
**/dist
**/data
lib
.settings
.env
*.env
# credentials
credentials.json

